export GIT_AUTHOR_NAME="halfDane"
export EMAIL="halfdane@gmx.net"
export GIT_AUTHOR_EMAIL="halfdane@gmx.net"
export GIT_SSH_COMMAND="ssh -o IdentitiesOnly=yes -i ~/.ssh/id_rsa.halfdane"
unset REQUESTS_CA_BUNDLE
